# Python Cache
__pycache__/
*.py[cod]
*$py.class


# Virtual Environment
.venv/
venv/
env/
ENV/


# Environment Secret
.env
.env.*


# IDE
.vscode/
.idea/


# OS
.DS_Store
Thumbs.db


# Logs
*.log


# Temporary
tempCodeRunnerFile.py
*.tmp


# Secrets
*.key
*.pem
secrets.json
credentials.json


# Ignore API JSON
output/aynaott_api.json


# Keep playlist
# DO NOT ignore:
# output/aynnaott.m3u8
# *.m3u8
